<html>
<head>
    <title>酒店导航栏</title>
    <link rel="stylesheet" href="/superCat/common/css/navigation.css"/>
</head>

<body>
<nav>
    <ul class="supercat-inline-nav">
        <li style="margin-left: 10%">
            <img class="logo" src="/superCat/img/supercatlogo.png"/>
        </li>
        <li style="margin-left: 20%"><span style="font-size: 18px"><a href="/"></a></span></li>
        <li><span style="font-size: 18px"><a href="/qyjHotel">酒店预订</a></span></li>
        <li class="dropdown">
            <span style="font-size: 18px">
            <a href="/qyjHotel/order">订单管理</a>
                <!-- <ul class="dropdown-menu qiyouji-block" role="menu">
               <li><a href="/qyjHotel/order">订单管理</a></li>
                     <li class="divider"></li>
                     <li class="divider"></li>
           </ul>-->
        </span>
        </li>
        <li>
            <span>${user.name},欢迎你</span>
        </li>
    </ul>
</nav>


<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
    <p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
</body>
</html>
